.normal {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.normal h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  color: #1E88E5;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.loadedContents {
  width: 100%;
  height: 300px;
  padding-top: 100px; 
}
.loaderWrapper {
  text-align: center;
  margin: 25px;
}

.loaded-contents {
  margin: 25px;
}
.loaderBody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
}
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #1E88E5;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
